
body {
font-family:Comic Sans MS ;
 background-image: url("images/clownbed.jpg");
 background-color: black;
 color: white;
 background-repeat;  }
 p{
background-color: black; 
 }



h1 { 
background-color: black;
color: white;
color:blue;} 


